# MkDocs Material Documentation System
# Python dependencies for building NOMAD DAW documentation

mkdocs>=1.5.3
mkdocs-material>=9.5.0
mkdocs-git-revision-date-localized-plugin>=1.2.0
mkdocs-minify-plugin>=0.8.0
pymdown-extensions>=10.5
mkdocs-glightbox>=0.3.0
mkdocs-macros-plugin>=1.0.0
mkdocs-redirects>=1.2.0
mkdocs-git-authors-plugin>=0.7.0
pillow>=10.0.0
cairosvg>=2.7.0
