# gitleaks config to detect common secrets and private key patterns
title = "Nomad gitleaks config"

[[rules]]
description = "Private key PEM block"
regex = '''-----BEGIN (?:RSA |DSA |OPENSSH )?PRIVATE KEY-----'''
entropy = 0

[[rules]]
description = "PFX/P12/PEM files referenced"
regex = '''\.pfx|\.p12|\.pem|\.key|\.jks|\.keystore|NomadCert''' 
entropy = 0

[[rules]]
description = "AWS Access Key ID"
regex = '''AKIA[0-9A-Z]{16}'''
entropy = 0

[[rules]]
description = "Generic API key assignment"
regex = '''(?i)(api[_-]?key|secret|password)\s*[:=]\s*[\"']?[0-9A-Za-z\-/_.+]{8,}''' 
entropy = 3
